All your logged sessions will go here!

<h1>Display Session Details</h1>
<br>
<ul><% @user.visits.each do |visit| %>
  <li>Date: <%= visit.date_played %>
  <li>Location: <%= visit.location %>
  <li>Stakes: <%= visit.stakes %>
  <li>Hours Played: <%= visit.hours_played %>
  <li>Profit?: <%= visit.profit_or_loss %>
    <p>
      <%= button_to "X",user_visit_path(@user,visit), {method: :delete, data:{confirm:"Are you sure?"}, :class => "mybutton"}  %>
    </p>
    <p><%= link_to "Update", edit_user_visit_path(@user,@visit) %></p>
    <p>
<% end %>
</ul>