<!DOCTYPE html>
<html>
<head>
  <title>Bankroll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="HolyGrail">
<div class="HolyGrail-body">
  <main class="HolyGrail-content">
  <%= yield %>
  </main>
  <nav class="HolyGrail-nav">Navigation
    <br />
    <a href="/">Home</a>
    <br />
    <a href="/authentications/new/">Sign in</a>
    <br />
  </nav>
  <aside class="HolyGrail-ads">Aside</aside>
</div>
<footer>
User id: <%= session[:user_id] %>
<%= button_to "Logout", "/authentications/:id", method: :delete %>
</footer>
</body>
</html>
