<!DOCTYPE html>
<html>
<head>
  <title>Bankroll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="HolyGrail">
  <h1>Bankroll.io</h1>
<div class="HolyGrail-body">
  <main class="HolyGrail-content">
  <%= yield %>
  </main>
  <nav class="HolyGrail-nav">Navigation
    <br />
    <%= link_to root_url do %>Home<% end %>
    <br />
    <%= link_to authentications_url do %>Sign in<% end %>
    <br />
    <%= link_to new_authentication_path do %>Sign up!<% end %>
    <br />
    <%= link_to "My Page", @user %>
    <br />
    <%= link_to "New Visit", new_user_visit_path(@user, @visit) %>
    <br />
  </nav>
  <aside class="HolyGrail-ads">Aside</aside>
</div>
<footer>
User id: <%= session[:user_id] %>
<%= button_to "Logout", "/authentications/:id", method: :delete %>
</footer>
</body>
</html>
